/* Global */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: #2e2f42;
}

p {
    color: #434455;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* Header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

header .accent {
    color: #2e2f42;
}

.menu-iteam {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-iteam:hover,
.menu-iteam:focus {
    color: #404bbf
}

.menu-iteam:active {
    text-decoration: underline;
}

.contacts a {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contacts a:hover,
.contacts a:focus {
    color: #404bbf
}

/* Main 
Section-1*/
.hero {
    background-color: #2e2f42;
}

.hero .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.hero .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    line-height: 1.5;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero .btn:hover {
    background-color: #404BBF;
}

/* Section-2 */
.advantages h2 {
    visibility: hidden;
}

.advantages .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages .desc {
    font-size: 16px;
    letter-spacing: 0.02em;
}

/* Section-3 */
.team {
    background-color: #F4F4FD;
}

.team .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team li {
    background-color: #FFFFFF;
}

.team .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team .desc {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Section-4 */
.portfolio .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize
}

.portfolio .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio .desc {
    font-size: 16px;
    letter-spacing: 0.02em;
}

/* Footer */
.footer {
    background-color: #2e2f42;
}

.footer .accent {
    color: #f4f4fd;
}

.footer .desc {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}